POSTGRES_USER=churn_local
POSTGRES_PASSWORD=local_only_change_me
POSTGRES_DB=churn_platform
MLFLOW_TRACKING_URI=http://mlflow:5000
MODEL_PATH=/app/artifacts/model.joblib
DECISIONING_CONFIG=/app/configs/decisioning.yaml
AIRFLOW_UID=50000

